   <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Resourcer</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="../getting-started">Courses</a>
        </li>
        <li>
          <a href="../css">Followers</a>
        </li>
        <li>
          <a href="../javascript">Messages</a>
        </li>
        <li>
          <a href="../customize">Alerts</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if logged_in? %>
          <%= link_to 'Logout', :session, :method => :delete, class: 'btn' %>
          <% else %>
          <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
          <%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>