
   <div class="side-float" data-spy="affix">

            <a class="btn btn-primary" style="font-weight:bolder;width:152px;margin-bottom:20px" href="http://gum.co/SUry" target="_blank">Support us!
              <div style="margin-top:5px;white-space: normal;font-size:12px;font-weight:normal;line-height:1.1em">Buy the eBook &amp; source code for only <strong>$25!</strong>
              </div>
            </a>



   <div class="progress" style="height:25px">
      <div class="progress-bar progress-bar-success"></div>
    </div>

  <div class="bs-sidebar">
    <ul class="nav bs-sidenav">
          <li>
            <a href="#item-526c4f970717fc4a8f000057">
              Introduction
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526c4fc80717fc4a8f000062">
              Source code and PDF eBook
            </a>
          </li>
          <li>
            <a href="#item-526c509e0717fc431c000080">
              Prerequisites
            </a>
          </li>
          <li>
            <a href="#item-526c509e0717fc431c000082">
              The Stack
            </a>
          </li>
          <li>
            <a href="#item-526c514a0717fc431c00009c">
              What is fantasy football?
            </a>
          </li>
          <li>
            <a href="#item-526c50c20717fcb66f000078">
              Makeup of a fantasy team
            </a>
          </li>
          <li>
            <a href="#item-526c51940717fc4a8f000080">
              Active Roster
            </a>
          </li>
          <li>
            <a href="#item-526c51940717fc4a8f00008a">
              Bench
            </a>
          </li>
          <li>
            <a href="#item-526c51940717fc4a8f000092">
              Recap
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526c51d00717fcb66f0000a9">
              Getting Started With Firebase
            </a>
            <ul class="nav">
          <li>
            <a href="#item-5279914b76524ee6c3000174">
              What Am I Actually Dealing With Here?
            </a>
          </li>
          <li>
            <a href="#item-526c5b6f0717fc4a8f000114">
              App Directory
            </a>
          </li>
          <li>
            <a href="#item-526c5e7b0717fcb66f000178">
              Bower
            </a>
          </li>
          <li>
            <a href="#item-526c5e7b0717fcb66f00017b">
              Getting Into AngularJS
            </a>
          </li>
          <li>
            <a href="#item-526c51d00717fcb66f0000ab">
              Authentication with Firebase
            </a>
          </li>
          <li>
            <a href="#item-526c89cb0717fc4a8f000192">
              The User Model
            </a>
          </li>
          <li>
            <a href="#item-526c8a2a0717fc4a8f0001f9">
              Firebase Data
            </a>
          </li>
          <li>
            <a href="#item-526c8aae0717fcb66f00020c">
              Firebase Forge
            </a>
          </li>
          <li>
            <a href="#item-526c8b5d0717fcb66f000288">
              Security and Permissions with Firebase
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526c8c1e0717fc4a8f000270">
              Getting Your Hands Dirty
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526c8aae0717fcb66f00020f">
              angularFire In The Hole!
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526c8aae0717fcb66f000211">
              Building Out The Application
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526c8aae0717fcb66f000212">
              Writing the NFL Service
            </a>
          </li>
          <li>
            <a href="#item-526c978d0717fc30f0000093">
              Writing the NFL Controller
            </a>
          </li>
          <li>
            <a href="#item-526c978d0717fc30f0000097">
              Includes and Dependencies
            </a>
          </li>
          <li>
            <a href="#item-526c98480717fc30f0000139">
              Routing
            </a>
          </li>
          <li>
            <a href="#item-526c98480717fc30f000013f">
              Views
            </a>
          </li>
          <li>
            <a href="#item-526c8aae0717fcb66f000214">
              Building Out The Navbar
            </a>
          </li>
          <li>
            <a href="#item-526c9b1d0717fc4a8f000445">
              Angular View Anti-Pattern
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526c99fe0717fc30f00001ed">
              Playing With Firebase
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526c9ecc0717fc30f0000357">
              League Routing
            </a>
          </li>
          <li>
            <a href="#item-526c9ecc0717fc30f000035a">
              League Services
            </a>
          </li>
          <li>
            <a href="#item-526ca0530717fca04e00028d">
              angularFireCollection
            </a>
          </li>
          <li>
            <a href="#item-526ca0530717fca04e000293">
              League Controller
            </a>
          </li>
          <li>
            <a href="#item-526ca0530717fca04e000298">
              League Views
            </a>
          </li>
          <li>
            <a href="#item-526ca1d70717fc30f0000438">
              Feelin’ Fine About Firebase
            </a>
          </li>
          <li>
            <a href="#item-526ca1d70717fc30f000043b">
              But Wait, There’s More: The Firebase Security API
            </a>
          </li>
          <li>
            <a href="#item-526ca31d0717fc4a8f000537">
              Rules, Rules, Rules
            </a>
          </li>
          <li>
            <a href="#item-526ca31d0717fc4a8f00053b">
              Cutting To The Chase
            </a>
          </li>
          <li>
            <a href="#item-526ca31d0717fc4a8f00053f">
              Tying Up a Few Loose Ends
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526e1b99d90f9923df00013a">
              Building the Player Picker
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526e1b99d90f9923df00013b">
              Don&#39;t Hate the Player, Hate the Game
            </a>
          </li>
          <li>
            <a href="#item-526e1fced90f9923df000277">
              Player Service
            </a>
          </li>
          <li>
            <a href="#item-526e1fced90f9923df000278">
              Player Controller
            </a>
          </li>
          <li>
            <a href="#item-526e1fced90f9923df000279">
              Player Routes and Views
            </a>
          </li>
          <li>
            <a href="#item-526e1fced90f9923df00027a">
              Constructing the Player Filter
            </a>
          </li>
          <li>
            <a href="#item-526e1d66d90f99206600015c">
              Corner Cases
            </a>
          </li>
          <li>
            <a href="#item-526e1e17d90f992066000284">
              Refactor
            </a>
          </li>
          <li>
            <a href="#item-526e9231d90f99661f00032f">
              What&#39;s Next
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526e2089d90f9920660003c4">
              Implementing Fantasy Teams
            </a>
            <ul class="nav">
          <li>
            <a href="#item-526e9330d90f99661f00046c">
              Denormalized Data
            </a>
          </li>
          <li>
            <a href="#item-526e2089d90f9920660003c5">
              Fantasy Team Service
            </a>
          </li>
          <li>
            <a href="#item-526e93b9d90f99661f0005c4">
              Fantasy Team Controller
            </a>
          </li>
          <li>
            <a href="#item-526e93b9d90f99661f0005cb">
              Fantasy Team Views
            </a>
          </li>
          <li>
            <a href="#item-526e9846d90f9920660005c3">
              Fantasy Team Security
            </a>
          </li>
          <li>
            <a href="#item-526e9898d90f9923df0005cb">
              Recap
            </a>
          </li>
              </ul>
            </li>
          <li>
            <a href="#item-526e9846d90f9920660005c4">
              What&#39;s Next
            </a>
            <ul class="nav">
            </ul>
          </li>
    </ul>
  </div>

</div><!-- /side-float -->