<!-- <div class="container1">
  <section>...</section>
  <aside>...</aside>
</div> -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      


      <!-- New Block -->
       <div class="span12">

              
            <div class="section-block bg-brown2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Will Richman</a></h2>
              </header>

              <p>
                Writing my bio here.
              </p>

              <div class="social-icons">
                <img src="http://www.oppositeleg.co.uk/images/twitter_newbird_white.png">
                <img src="http://ih.constantcontact.com/fs161/1104089399629/img/193.png?a=1112894060537">
                <img src="http://www.oppositeleg.co.uk/images/twitter_newbird_white.png">
              </div>

            </div>











      <div class="row-fluid">
        <!-- Side bar -->
        <div class="span2 sidebar">


                <ul>
                  <li> <a href="#"><h4>HTML & CSS</h4></a></li>
                  <li> <a href="#"><h4>Design</h4></a></li>
                  <li> <a href="#"><h4>Ruby</h4></a></li>
                  <li> <a href="#"><h4>Rails</h4></li>
                  <li> <a href="#"><h4>Angular</h4></li>
                  <li> <a href="#"><h4>Startups</h4></li>
                  <li> <a href="#"><h4>More...</h4></li>
                </ul>

        </div>
        <div class="span10">
           <!-- New Block -->
          <div class="row-fluid">
            <div class="span12" style="margin-left: 0;">

              
            <div class="section-block bg-b2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Startup Tools & Resources</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>

            </div>



            </div>

          </div>

           <!-- New Row #1-->
          <div class="row-fluid" >
            
           <!-- New Block -->
            <div class="span6 lightgrey">

              
            <div class="section-block bg-r2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Ruby</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>

            </div>


            <!-- New Block -->
            <div class="span6 lightgrey"> 
              
              <div class="section-block bg-y2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">JavaScript</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>
          </div>

         </div>



          <!-- New Row #2 -->

          <div class="row-fluid">
            
           
            <div class="span6 lightgrey">

              <!-- New Block -->
            <div class="section-block bg-g2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Angular</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>

            </div>



            <div class="span6 lightgrey"> 
              <!-- New Block -->
              <div class="section-block bg-gg2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">HTML & CSS</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>
          </div>

         </div>



         <!-- Row #3 -->
         <div class="row-fluid">
            
           
            <div class="span6 lightgrey">

              <!-- New Block -->
            <div class="section-block bg-purple2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Testing</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>

            </div>



            <div class="span6 lightgrey"> 
              <!-- New Block -->
              <div class="section-block bg-orange2">
              <header>
                <div class="icon ss-lightbulb"></div>
                <h2><a href="/concepts">Git</a></h2>
              </header>

              <p>
                If you’re new to email marketing, there are some basic principles and background information on HTML emails that every email designer and marketer should know. In this section, we'll go over some HTML email specifics so you can make sure your campaigns get delivered. 
              </p>

              <div class="children">
                <ul>
                  <li> <a href="#">JavaScript Resource #1</a></li>
                  <li> <a href="#">JavaScript Resource #2</a></li>
                  <li> <a href="#">JavaScript Resource #3</a></li>
                  <li> <a href="#">JavaScript Resource #4</a></li>
                  <li> <a href="#">JavaScript Resource #5</a></li>
                  <li> <a href="#">More...</a></li>
                </ul>
              </div>
            </div>
          </div>

         </div>




        </div>
        
      </div>

    </div>
  </div>
</div>