<div class="span6"> 
              <!-- New Block -->
              <div class="section-block bg-orange2">
              <header>
                <!-- <div class="icon ss-lightbulb"></div> -->
                <h2 id="git"><a href="#">Git</a></h2>
              </header>

              <p>
               Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.
              </p>

              <div class="children">
                <ul>
                  <li> <a href="http://gitready.com/">Git Ready</a></li>
                  <li> <a href="http://nvie.com/posts/a-successful-git-branching-model/">A successful git branching model</a></li>
                  <li> <a href="http://www.codeschool.com/courses/try-git">Try Git</a></li>
                  <li> <a href="http://www.codeschool.com/courses/git-real">Git Real</a></li>
                  <li> <a href="http://www.codeschool.com/courses/git-real-2">Git Real 2</a></li>
                  <li> <a href="http://git-scm.com/book">Git - Book</a></li>
                </ul>
              </div>
            </div>
          </div>

         </div>
