<div class="row">
   <div class="col col-lg-5 col-offset-3"><h2>Exercise for <%= @lesson.title %></h2>
    <%= form_for [@course, @lesson, @exercise] do |f| %>
      <%= render 'shared/form_errors', :f => f %>
      <%= render 'form', :f => f %>
    <% end %>
  </div>
</div>